@import url('./header/header.css');
@import url('/style/main/mainslider.css');

:root {
    --black-color: #2F3035;
    --accent-color: #1C62CD;
    --gray-color: #C4C4C4;
    --basic-color: #F0F0F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li, ol {
    list-style: none;
}

.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

button {
    background: none;
    border: none;
}